*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    height: 400px;
    position: center;
    text-align: center;
}

.header__index {
    height: 100vh;
    position: center;
    text-align: center;
}

        .menu {
            font-weight: bold;
            position: center;
            text-align: center;
            background-color: transparent !important;
            position: relative;
            z-index: 100;
            padding-left: 150px;
        }

        .nav-link {
            color: white !important;
        }

        li a:hover {
            color:black !important  ;
            background: yellow;
            cursor: pointer;
        }


        .slider{
            position:absolute;
            top: 0;
        }

        .slider img {
            height: 100vh;
            width: auto;
        }

        @media (max-width: 768px) {
            .slider img {
             height:100vh;
            }
        }

        .slider h1 {
            color: white;
            text-align: center;
            font-weight: 700;
            line-height: 100%;
            text-transform: uppercase;
            padding-bottom: 380px;
        } 

main section {
    background-color: whitesmoke;
    padding-top: 10px;
}

.frase{
    font-weight: bold;
    margin-bottom: 150px;
    margin-top: 150px;
    font-size: 2rem;
    text-align: center; 
}

.titulo {
    text-align: center;
    width: 200px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.titulo h2 {
    color:black;
    background: yellow;
    text-transform: uppercase;
    font-size: 2rem;
}

.descripcion {
    display: none;
    position: absolute;
    top: 80%;
    left: 5%;
    color: white;
}

.descripcion1 {
    display: none;
    position: absolute;
    top: 85%;
    left: 5%;
    color: white;
}


.proyecto:hover .descripcion {
    display:block;
}

.proyecto:hover .descripcion1 {
    display:block;
}

.padding {
    padding-left: 0;
    padding-right: 0;
}



