@import"tipografia";

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 100px 0 100px 0;
    .footer__img {
        padding: 50px;
    }
    .footer__a:hover {
        text-decoration: underline;
        color: yellow;
    }

}

.header__titulos {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.header__proyectos {
    top: 0;
    background-image:url(../imagenes/proyectos/proyecto-header.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    position:absolute;
}

    
    .section {
    background-color: transparent;
    }
    .proyectos__proyectos {
    margin-top: -100px;
    padding-bottom: 100px;
    img {
    padding-bottom: 20px;
    }
    img:hover {
        opacity: 80%;
    }
}

.header__manifiesto {
    top: 0;
    background-image:url(../imagenes/manifiesto/manifiesto-header.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    position:absolute;
}

.manifiesto__lista {
    margin: 30px;
    background-color: transparent;
    .manifiesto__items {
        padding: 50px;
        height: 400px;
    }
    h3 {
        font-weight: bold;
        font-size: 4rem;
    }
    .manifiesto__items:hover{
        background-color:yellow;
    }
}

.header__servicios {
    top: 0;
    background-image:url(../imagenes/servicios/servicios-header.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    position:absolute;
}

.contacto{
    padding: 0 0 100px 200px;
    
    .formulario{
        background-color:#e6e6e6;
        width: 600px;
        height: 450px;
    }
    .contacto__titulo {
        font-weight: bold;
    }

}

.header__proyectos__almag {
    top: 0;
    background-image:url(../imagenes/proyectos/almag/almag-header.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    position:absolute;
}

.galeria__proyectos {
    padding-bottom: 100px;
}